/* *{
    padding: 10px;
}

.card-p{
    font-weight: bold;
    font-size: 15px;
    color:orange;
}

.card{
    /* background-color:black; */
    /* padding: 10px; */
/* } */

/* .card-title{ */
    /* font-size: 12px; */
    /* font-weight: bold; */
   
/* } */ 